.bankruptcy-bg {
    background-image: url("../../../../assets/practice-area/bankruptcy.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh;
}