.card-bg {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.114), -5px -5px 0px rgba(0, 0, 0, 0.114);
}
.responsive-map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.responsive-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.contact-bg {
    background-image: url('../../../assets/others/contact-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh;
}